body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    display: flex;
    padding: 1rem;
    background-color: #eef1fd;
    border: #4f4f4f solid 2px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-areas: 
    "heading heading"
    "section1 section2"
    "div div"; */
}


.selection:nth-child(1) {
    /* grid-area: section1; */
    grid-column: 1/2;
}

.selection:nth-child(2) {
    /* grid-area: section2; */
    grid-column: 2/3;
}

h2 {
    color: navy;
    text-align: left;
    /* grid-area: heading; */
    grid-column: 1/3;
}

article p {
    text-align: justify;
}

.callout {
    color: #000000;
    background-color: #e4ffe1;
    padding: .5rem 1.5rem;
    /* grid-area: div; */
    grid-column: 1/3;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}