@media screen and (min-width: 825px) {

    nav {
        display: flex;
    }
    
    #homesection {
        display: inline-grid;
        grid-auto-flow: column;
    }

    #homesection p {
        font-size: var(--font-size-medium);
        padding: .5rem;
    }

    #sectioncontactus {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-columns: 50% auto;
        align-items: center;
    }

    #sectioncontactus h2 {
        grid-column: -1/1;
        margin: 1rem 0 1rem 0;
    }

    #sectioncontactus div{
        justify-content: center;
    }

    #formdescription {
        width: 40vw;
    }

    form {
        width: 60vw;
    }

    #movement-diagrams {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #movement-diagrams h2{
        grid-column: -1/1;
        padding: .5rem;
    }

}