:root {
    --main-color: #7f0000; /*Use for Heading backgrounds*/
    /* --secondary-color: #407F00; */
    --secondary-color: #007f7f; /*Use for Borders and deviders to help layout the page*/
    /*--accent-color: #407F00; */
    --accent-color: #dac937; /*Use for Heading fonts and highlights*/
    --heading-font: "New Rocker"; /*Use for Headers*/
    --main-font: "Modern Antiqua"; /*Use for Page text*/
}

header {
    background-color: var(--main-color);
    padding: 1rem;
    color: var(--accent-color);
    font-family: var(--heading-font);
    /* text-shadow: 
        1px 1px 12px rgb(255, 255, 255),
        -5px -1px 25px rgb(0, 0, 0); */

}

h1 {
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: var(--main-color);
    color: var(--accent-color);
    text-align: center;
    padding: 5rem;
    font-family: var(--main-font);
}