main {
    width: 80vw;
    background-color: rgb(226, 250, 248);
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    color: rgb(11, 0, 109);
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    padding: 1rem;
}

ul {
    align-items: center;
}

footer {
    text-align: center;
    color: white;
    background-color: rgb(11, 0, 109);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}