header {
    background-color: rgb(255, 179, 1);
    grid-column: 1/4;
}

h1 {
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(74, 70, 70);
    border: 7px solid rgb(74, 70, 70);
}

h2 {
    color: rgb(187, 218, 246);
}

main {
    background-color: rgb(222, 220, 220);
    grid-column: 1/3;
    height: 40vh;
}

aside {
    background-color: rgb(187, 218, 246);
    grid-column: 3/4;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr;
}

footer {
    background-color: rgb(122, 114, 114);
}

a {
    background-color: rgb(159, 151, 151);
    padding: .5rem 1rem;
    border: 2px solid rgb(255, 179, 1);
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    height: 250px;
}