@media screen and (min-width: 750px) {
    
    form {
           width: 50vw;
    }
    
    #formsubmit {
        width: 200px;
    }

        #checkboxdiv>label {
            width: 37%;
        }
}