:root {
    --main-color: rgb(193, 222, 200);
    --secondary-color: rgb(244, 247, 245);
}

header {
    background-color: var(--main-color);
    padding: 1rem;
    text-align:  center;
}

main {
    display: grid;
    justify-content: center;
}

form {
    background-color: var(--secondary-color);
    margin: 1rem;
}

form fieldset {
    display: grid;
    padding: 1.1rem;
}

label {
    margin: .2rem;
}

#radiodiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    width: fit-content;
    padding: .25rem;
}

#checkboxdiv {

}

#checkboxdiv > label{
    display: flex;
    background-color: white;
    width: 50%;
    align-items: center;
    border: solid 1px var(--main-color);
}

#praiting {
    grid-column: 1 /-1;
}

#radiodiv > label {
    background-color: white;
    border: solid 1px var(--main-color);
    padding: .2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    /* max-width: 3rem; */
    min-height: 45px;
}

#formsubmit {
    margin: 1rem;
}

.enoughheight {
    height: 45px;
}

.sectionpadding {
    padding-top: 2rem;
}

#textarea {
    display: grid;
}

#namearea {
    display: grid;
    width: 75px;
}

footer {
    background-color: var(--main-color);
    padding: 1rem;
    text-align: center;
}