
body {
    font-family: Roboto;
}

.style1 {
    max-width: 640px;
    margin: 1rem auto;
    border: 3px solid rgba(154, 73, 73, 0.473);
    padding: 1rem;
    background-color: rgba(0, 195, 255, 0.082);
}

/* header {

} */

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

footer {
    text-align: center;
}

section {
    padding: 1rem;
    background-color: white;
}