@media screen and (min-width: 500px) {
    header.style1 {
    max-width: 640px;
        margin: 1rem auto;
        border: 3px solid rgba(154, 73, 73, 0.473);
        padding: 1rem;
        background-color: rgb(0, 0, 0);
        color: white;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}